<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>


  <body>
    <header>
      <%= button_to "99 Cats", cats_url, method: :get %>
      <% if current_user %>
        <%= button_to 'logout', session_url, method: :delete %>
        <h1>Hello, <%= current_user.user_name.capitalize %>!</h1>
      <% else %>
        <%= button_to 'login', new_session_url, method: :get %>
        <%= button_to 'sign up', new_user_url, method: :get %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
